<div
    class="flex h-full w-full flex-col items-center justify-center bg-gray-50 p-6"
>
    <div class="w-full rounded-lg bg-white p-6 shadow-lg">
        <section class=""></section>
        <div class="mb-8 text-left">
            <h2
                class="transform-uppercase text-6xl font-semibold text-gray-700"
            >
                IN TODAYS DIGITAL LANDSCAPE,
            </h2>
            <h2
                class="transform-uppercase text-6xl font-semibold text-gray-700"
            >
                SECURITY IS PARAMOUNT
            </h2>
            <p class="mt-4 text-lg text-gray-600">
                The advanced two-level system that provides the highest level of
                security and effectively prevents unauthorized access
            </p>
            <div class="mt-8 text-center">
                <a
                    class="hover:bg-primary-dark inline-flex items-center rounded-lg bg-primary px-6 py-3 font-semibold text-white shadow-lg transition"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="'/onboarding'"
                >
                    See it in action
                </a>
            </div>
        </div>

        <div class="mb-8 text-left">
            <h3 class="mb-4 text-2xl font-semibold text-gray-700">
                What is Imposter Detection?
            </h3>
            <p class="mb-6 text-base text-gray-600">
                Imposter Detection is a sophisticated security solution designed
                to prevent unauthorized access by identifying and blocking
                individuals who do not meet the predefined criteria for
                legitimate users. Our system utilizes state-of-the-art computer
                vision techniques to verify user identity with unparalleled
                accuracy.
            </p>

            <h3 class="mb-4 text-2xl font-semibold text-gray-700">
                How It Works
            </h3>
            <ul class="list-inside list-disc space-y-2 text-base text-gray-600">
                <li>
                    <strong>Advanced Computer Vision Algorithms:</strong> Our
                    system employs the latest computer vision technology to
                    analyze and interpret visual data. This includes recognizing
                    facial features, detecting anomalies, and assessing
                    biometric data in real-time.
                </li>
                <li>
                    <strong>Real-Time Authentication:</strong> The moment a user
                    attempts to access the system, our algorithms instantly scan
                    and verify their identity. This process ensures immediate
                    and accurate authentication, minimizing the risk of
                    unauthorized access.
                </li>
                <li>
                    <strong>Robust Security Measures:</strong> By integrating
                    various layers of computer vision, our system not only
                    identifies facial features but also assesses expressions,
                    gestures, and other unique identifiers. This multi-faceted
                    approach makes it significantly harder for imposters to
                    bypass security.
                </li>
                <li>
                    <strong>Adaptability:</strong> Our system is designed to
                    adapt to various environments and conditions. Whether in low
                    light, varying angles, or diverse user backgrounds, it
                    maintains high accuracy and reliability.
                </li>
            </ul>
        </div>
    </div>
</div>
