<div class="flex min-w-0 flex-auto flex-col">
    <fuse-loading-bar setAutoMode="true"></fuse-loading-bar>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div
            class="h-full rounded-2xl border-2 border-dashed border-gray-300 p-8"
        >
            <div class="mb-8 text-center">
                <h2 class="text-2xl font-semibold text-gray-800">Members</h2>
            </div>
            <div
                class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
            >
                <div *ngFor="let member of members$ | async">
                    <div
                        class="bg-card flex flex-auto flex-col items-center overflow-hidden rounded-2xl shadow"
                    >
                        <div class="flex flex-auto flex-col p-8 text-center">
                            <div class="mx-auto h-32 w-32 overflow-hidden">
                                <img
                                    class="h-full w-full object-cover"
                                    [src]="member.imageUrl"
                                />
                            </div>
                            <div class="mt-4 flex w-full flex-col items-end">
                                <div class="w-full text-left font-bold">
                                    Name:
                                </div>
                                <div class="w-full text-left font-medium">
                                    {{ member.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
